* 
{
	margin:0;
	padding:0;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: auto;
}



header
{
	background-color:#07121b;
}



header > p
{
	color:white;
	font-family: 'Rokkitt', serif;
	padding:1rem;
	font-size:24px;
}



ul 
{
    margin:2rem;
}



ul > li
{
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.050rem;
    margin:0.33rem 0 0.33rem;
    color:#031e34;
    font-size:18px;
}



ul > li:hover
{
    cursor: pointer;
}


.red 
{
	color:red;
}

.blue
{
	color:blue;
}

.white 
{
	color:white;
}


.bgBlue
{
	background-color:blue;
}